<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>19144542014-uiec1hofgqkeeoq2gpop3dshuq6bifqv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.19144542014-uiec1hofgqkeeoq2gpop3dshuq6bifqv</string>
	<key>API_KEY</key>
	<string>AIzaSyD0z5hoAcIGa4oNoyNtCYI9_gMi9PxcAGQ</string>
	<key>GCM_SENDER_ID</key>
	<string>19144542014</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aratech.restropos</string>
	<key>PROJECT_ID</key>
	<string>ats-ios-project</string>
	<key>STORAGE_BUCKET</key>
	<string>ats-ios-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:19144542014:ios:0f2abaab1c12ccbdf10e6f</string>
</dict>
</plist>